/* body {
    height: 100vh;
    color: var(--text-color);
    background: #f4e0cb;
    display: grid;
    grid-template-rows: auto 1fr;
} */




/* .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
} */

/* .profile-info-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
} */

/* .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

#avatar-img {
    min-height: 110px;
    min-width: 110px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 24px;
}

.naturepic {
    width: 325px;
    margin: 25px;
    opacity: 1;
    box-shadow: 10px 10px 8px 7px #000000bf;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    border-radius: 0%;
}

/* .naturepic:hover {
    opacity: 0.5;
} */
h1 {
    font-size: 2.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
}

h2 {
    font-size: 1.3rem;
    margin: 0px;
}

.location {
    font-size: 1.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
}

.description {
    font-size: 1.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
}

.like-button {
    border: none;
    background-color: rgb(49, 0, 128);
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    margin: 10px;
    content: 20px;


}