body {
    height: 100vh;
    color: var(--text-color);
    background: #f4e0cb;
    display: grid;
    grid-template-rows: auto 1fr;
}


.profile-feed-page {
    display: flex;

}

aside {
    position: sticky;
    top: 80px;
    /* the height of the header (60px) + its bottom margin (20px) */
    padding: 20px;
    width: 20%;
    height: 500px;
    margin-bottom: 20px;
}



/* This is for the posts */
.posts-container div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    flex-grow: 1;
}

#avatar-img {
    min-height: 110px;
    min-width: 110px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 24px;
}

.naturepic {
    width: 325px;
    margin: 25px;
    opacity: 1;
    box-shadow: 10px 10px 8px 7px #000000bf;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    border-radius: 0%;
}

/* .naturepic:hover {
    opacity: 0.5;
} */

/*
h1 {
    font-size: 2.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
}

h2 {
    font-size: 1.3rem;
    margin: 0px;
}

.location {
    font-size: 1.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
}

.description {
    font-size: 1.3rem;
    margin: 10px 0px 0px;
    line-height: 45px;
    letter-spacing: 4px;
} */

.like-button {
    border: none;
    background-color: rgb(49, 0, 128);
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    margin: 10px;
    content: 20px;


}

#slides-container {
    width: 90vw;
    max-width: 100rem;
    max-height: 90vh;
    margin: 0 auto;
    padding-top: 3rem;
}

.post-list img {
    max-width: 100%;
    object-fit: contain;

}

.naturepic-container {
    display: flex;
    width: 100%;
    height: 100%;
    background: #232323;
    overflow: hidden;
}

.naturepic img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s;
}

.thumbnail-container {
    display: flex;
    align-items: flex-start;
}

.thumbnail-list {
    position: relative;
    margin: 0.5rem;
    cursor: pointer;
}

.thumbnail-decoration {
    display: none;
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 100%;
    height: 0.5rem;
    background-color: yellow;
}

.info-card-container {
    position: relative;
    align-self: flex-end;
    width: calc(55% + 1rem);
    margin-top: -10rem;
    color: white;


}

.gallery-buttons {
    position: absolute;
    right: 0;
    display: flex;
}

.info-card div {
    display: flex;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    margin-right: -100%;
    transform: translateX(-100%);
    transition: transform 0.5s background-color 0.5s opacity 0.5s 0.5s;
}

.location {
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.description {
    line-height: 1.5;
}