@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    background-color: #88a65a;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

.page-header nav a {
    color: white;
}

/* create post */
/* form:not(.inline) {
    width: 100%;
    margin: 10% auto;
    max-width: 500px;
    background: white;
    padding: 20px 40px 56px;
    display: grid;
    gap: 16px;
    border-radius: 4px;
} */

body {
    height: 100vh;
    color: var(--text-color);
    background: #f4e0cb;
}

main {

    height: 100%;
}

section {

    display: flex !important;
}

.create-post {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;

    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    overflow: hidden;
}



.image-info {
    width: 55%;
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);

}

#preview {
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    box-shadow: 10px 10px 8px 7px #000000bf;
}

Form {
    width: 80%;
    /* padding: 30px 0; */
    transition: 0.2s;
}

Form h2 {
    font-weight: 300;
    text-align: center;
}



form input,
form textarea,
form select,
form button {
    width: 100%;
    font-size: 1.15em;
    padding: 8px 16px;
    border-radius: 4px;
    /* border: 1px solid grey; */
    text-align: center;
    opacity: 1;

}



label {
    text-align: center;
}

form input[type='file'] {
    padding: 0;
    border: none;
}

form select:invalid,
form *::placeholder {
    color: var(--placeholder-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {

    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}