* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


body {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;

    transition: 1s;



}



.column-quote {
    width: 90%;
    height: 475px;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    margin: auto;
    margin-bottom: 150px;
    border: 20px solid white;
    opacity: .5;
    text-align: center;
    display: flex;
    overflow: hidden;
}

.quote {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    opacity: 1;
    color: azure;
}


form h1 {

    font-size: 28px;
    color: black;
    animation: color-change 7s ease-in-out infinite;
}

.header>h1 {
    margin: 0;
    color: #46a54e;
}

.header>h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.forms {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.forms>p {
    text-align: right;
}

.forms>p>a {
    color: white;
    font-size: 14px;
}



.forms-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}

.forms-field:focus {
    border-color: #010c02;
}

.forms>button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
}

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
}

.a1 {
    animation-delay: 2s;
}

.a2 {
    animation-delay: 2.1s;
}

.a3 {
    animation-delay: 2.2s;
}

.a4 {
    animation-delay: 2.3s;
}

.a5 {
    animation-delay: 2.4s;
}



@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transforms: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transforms: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}





form button:disabled {
    opacity: 0.5;
}